giga-fren.release2.en.gz
giga-fren.release2.fr.gz
giga-fren.release2.fr
newstest2013.fr
giga-fren.release2.en
newstest2013.en
training-giga-fren.tar
dev-v2.tgz
giga-fren.release2.fr
newstest2013.fr
vocab40000.fr
